@keyframes borderExplode {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 20px 15px rgba(255, 255, 255, 0.3);
      opacity: 0.7;
    }
    100% {
      box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0);
      opacity: 0;
    }
  }
  
  .animate-borderExplode {
    animation: borderExplode 4s infinite;
  }

  